body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif!important;
}

body {
    overflow-x: hidden;
}

h1 {
    font-size: 36px;
  }

ul#menu {
    background: #40475A none repeat scroll 0 0;
    padding: 6px;
    position: fixed;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    z-index: 999;
        }
    .main-menu {
      margin-top: -234px;
    }
    .main-menu ul{}
    .main-menu ul li {
      display: inline-block;
      padding: 10px;
    }
    .main-menu ul li a {
      background: #383E4C none repeat scroll 0 0;
      border: 1px solid #646d7c;
      color: #fff;
      font-size: 20px;
      padding: 5px 20px;
      text-decoration: none;
      text-transform: capitalize;
    }
    /*.main-menu ul li.active a,*/
    .main-menu ul li a:focus,
    .main-menu ul li a:hover {
      background: #49505F;
    }

header{
    padding: 235px 0;
}


.header-content  h1 {
    color: #fff;
    font-size: 70px;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
  }
  .header-content h4 {
    color: #fff;
    font-size: 25px;
    text-shadow: 1px 1px #333;
  }

.single-page-nav { text-align: center; }


.header-content{
    position: relative;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);   
 
}

.header-section{
    margin:65px 0px 85px;
     
}

div#sobre-area-main {
    float: left;
    width: 100%;
    margin-top:-200px;
}

.sobre-evento{
    margin:65px 0px 85px;    
}

.sobre-section{
    height: 100%;
    margin-top: 30px;
}

.sobre  h1 {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px #aaa;
    margin-bottom: 20px;
  }
.sobre > p {
    color: rgb(0, 0, 0);
    font-size: 18px;
}


/* Slick Nav CSS */
.slicknav_menu {
    display:none;
}
.slicknav_nav a {
    text-transform: capitalize;
}
.slicknav_menu {
  background: #40475a none repeat scroll 0 0;
}

/*começa a timeline*/

.progdia{
  font-size: 22px;
  margin: 10px;
  margin-bottom: 30px;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: rgb(0, 0, 0);
}
 
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #F45B69;
}
 
.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}
 
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F45B69 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}
 
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #F45B69;
}


/*
.prog-timeline{
    position: relative;
    height: 1550px;

}

.progdia{
    font-size: 22px;
    margin: 10px;
}

/** {
    box-sizing: border-box;
  }
  */
  /* Set a background color 
  body #section3 {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
  }
  
  /* The actual timeline (the vertical ruler) *
  .timeline {
    position: relative;
    max-width: 1200px;
    min-height: 1000px;
    margin: 100px auto;
  }
  
  /* The actual timeline (the vertical ruler) *
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 1200px;
    background-color: white;
    top: 0;
    /*bottom: 100px;*
    padding-bottom: 100px;    
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content *
  .boxcontent{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    
  }
  
  /* The circles on the timeline *
  .boxcontent::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left *
  .left {
    left: 0;
  }
  
  /* Place the container to the right *
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) *
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) *
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  */
  /* Fix the circle for containers on the right side *
  .right::after {
    left: -16px;
  }
  
  /* The actual content *
  .content {
    *padding: 20px 30px;*
    *background-color: white;*
    *position: relative;*
    size: 100px 30px;
    /*border-radius: 6px;*/
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide *
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left *
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers *
    .boxcontent {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards 
    .boxcontent::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }*/
  
  /* Make sure all circles are at the same spot *
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones *
    .right {
      left: 0%;
    }
  }



/*termina a timeline*/