body {
    overflow-x: hidden;
}

ul#menu {
    background: #40475A none repeat scroll 0 0;
    padding: 6px;
    position: fixed;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    z-index: 999;
        }
    .main-menu {
      margin-top: -234px;
    }
    .main-menu ul{}
    .main-menu ul li {
      display: inline-block;
      padding: 10px;
    }
    .main-menu ul li a {
      background: #383E4C none repeat scroll 0 0;
      border: 1px solid #646d7c;
      color: #fff;
      font-size: 20px;
      padding: 5px 20px;
      text-decoration: none;
      text-transform: capitalize;
    }
    /*.main-menu ul li.active a,*/
    .main-menu ul li a:focus,
    .main-menu ul li a:hover {
      background: #49505F;
    }

header{
    padding: 235px 0;
}


.header-content  h1 {
    color: #fff;
    font-size: 70px;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
  }
  .header-content h4 {
    color: #fff;
    font-size: 25px;
    text-shadow: 1px 1px #333;
  }

.single-page-nav { text-align: center; }


.header-content{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);   
}

.header-section{
    margin:65px 0px 85px;    
}

div#sobre-area-main {
    float: left;
    width: 100%;
  margin-top:-200px;
}

.sobre-evento{
    margin:65px 0px 85px;    
}

.sobre-section{
    height: 100%;
    margin-top: 30px;
}

.sobre  h1 {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px #aaa;
    margin-bottom: 20px;
  }
.sobre > p {
    color: rgb(0, 0, 0);
    font-size: 18px;
}


/* Slick Nav CSS */
.slicknav_menu {
    display:none;
}
.slicknav_nav a {
    text-transform: capitalize;
}
.slicknav_menu {
  background: #40475a none repeat scroll 0 0;
}